<!DOCTYPE html>

<html>
	<head>
		<title>You Have Been Phished Homepage</title>
		<meta name="description" content="Phishing Alert Simulations"
	</head>
	<body>
		
		<img src="alert.jpg" width="180" height="120" alt="alert logo">
		<h1>You Have Been Phished</h1>

		<section>
			<p>This page is part of a <b>security awareness simulation.</b> You clicked on a link that resembles a phishing attempt.</p>
		</section>
		<section>
		<!--This is the First Phishing Alert Page -->
			<h4>What does this mean?</h4>
			<ul>
				<li>No information has been collected</li>
				<li>No passwords were recorded</li>
				<li>This was a controlled ethical hacking exercise</li>
			</ul>
		</section>
		<section>
			<p>Phishing attacks often use urgency fake emails or trusted brands to trick users into revealing sensitive information.</p>
		</section>
		<section>
			<p>Always verify links. Check sender addresses, and avoid entering credentials on unfamiliar websites.</p>
		</section>
		<section>
		<a href="Phishing Safety Tips.html">Learn How to Stay Safe</a>
		</section>

	</body>
</html>
